doctype html
html
 head
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/main.css")
  script(src="js/jquery-1.0.0.min.js")
 body
  h1 This is the #[i best] motherfucking website.
  p.st Really, it is.
  h2 Seriously, you guys think that a fucking website doesn't some styling?
  p You probably build websites by using vim and feeling hardcore. You think your 4.99KB #[span.mfw motherfuckingwebsite](.com) is going to get you some fucking award to put on your damn footer as a link. You think your fucking default font is gonna make your website run even on a toaster.
  p <span class="wr">WRONG</span>, motherfucker.
  p Let me describe the #[i real] perfect-ass website which still has the glory of the past #[span.mfw motherfuckingwebsite]s:
  ul
   li This shit doesn't weight a ton
   li Still fits on your iPhone 1st gen (altough it doesn't work on your fucking 16x32 Tamagotchi)
   li Looks #[i almost] the same on every damn screen
   li Every asshole that visit this website can use it without any problem
   li Shit is #[i even more] legible than the fucking two versions before - and it also has a cleanish style without looking like an <a href="https://en.wikipedia.org/wiki/ARPANET">ARPANET</a> website
   li This website uses only free and open resources. Like this ass-breaking font called "Open Sans"
   li This website
  p This website is even better than the last <a href="http://bettermotherfuckingwebsite.com">guy</a> and the <a href="http://motherfuckingwebsite.com/">guy before him</a>.
  p Why?